* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://img.freepik.com/free-vector/gradient-hexagonal-background_23-2148954968.jpg?semt=ais_hybrid&w=740&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    /* background: transparent; */
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    z-index: 100;
    /* height: 200px; */
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
    transition: .5s;

}
header:hover::before{
    left: 100%;
}

.navbar {
    display: flex;
    gap: 60px;
    padding-right: 70px;
}


header a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 19px;
    position: relative;
}

header a::after {
    content: "";
    position: absolute;
    background: white;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease;
}

header a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.logo {
    font-size: 25px;
}

/* .navbar a{
    text-decoration: none;
} */